<div class="row about-content">
  <div class="col col-sm-offset-2 col-sm-8">

	<p>
	  CifraChat provides a secure, encrypted communication channel for two-person messaging. Each message is encrypted individually with the password the user provided as well as a randomly generated <a href="http://en.wikipedia.org/wiki/Salt_(cryptography)">cryptographic salt</a>. We follow the Advanced Encryption Standard, as implemented by <a href="https://code.google.com/p/crypto-js/">CryptoJS</a>.
	</p>
	<p>
	  If you'd like to run CifraChat on your own server, you can. You can download and view all our code on <a href="https://github.com/mpgarate/CifraChat">GitHub</a>.
	</p>
	<p>
	  Users may choose to send encrypted or unencrypted messages. To send an unencrypted message, simply don't send a password; to send an encrypted message, set a password.
	</p>
	
	</br>
  </div>
</div>