<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="footer-content panel panel-default msg-input-panel">
      <div class="panel-body">
        <textarea type="text" class="form-control input-box" id="messageField" ></textarea>
      </div>
      <div class="panel-footer">
        <div class="pull-right">
          <div class="form-inline send-message-form">
            <button class="btn btn-sm btn-default" type="button" id="send">Send</button>
          </div>
        </div>
        <div class="clearfix">
        </div>
      </div>
    </div>
  </div>
</div>
