  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>CifraChat</title>

    <!-- Bootstrap and jQuery -->
    <link href="/inc/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/inc/js/jquery.min.js"></script>
    <script type="text/javascript" src="/inc/bootstrap/js/bootstrap.min.js"></script>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    <!-- CifraChat CSS -->
    <link href="/css/chat.css" rel="stylesheet">

    <!-- Includes -->
    <script type="text/javascript" src="/inc/js/aes.js"></script>
    <script type="text/javascript" src="/inc/js/ejs_0.9_alpha_1_production.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <!-- CifraChat -->
    <!-- script type="text/javascript" src="/js/encryption.js"></script -->
    <script type="text/javascript" src="/js/chat.js"></script>
  </head>
