<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="row">
    <div class='col col-sm-offset-2 col-sm-8'>
      <ul class="nav navbar-nav">
        <a class="navbar-brand" href="/">
          <img src="/img/cifrachat-logo.jpg" class="nav-logo" alt="CifraChat" />
          <div class="offscreen-text">
            CifraChat
          </div>
        </a>
      </ul>
      <ul class="nav navbar-nav navbar-right main-nav-right">
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>
