<html>
<%- include _header.ejs %>

  <body>
    <div class="container">

      <%- include _nav.ejs %>

      <%- include _about_content.ejs %>

      <%- include _footer.ejs %>
    
    </div>
    
  </body>
</html>