/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 200px;
}
#sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
}


html, body{
  font-family: 'Roboto', sans-serif;
}

.offscreen-text{
  text-indent: -9999px;
}

.container
{
	margin-top: 70px;
}

.banner
{
	text-align: center;
	width: 350px;
	float: none;
	margin: 0 auto;
}

#content,
#footer-content
{
	width: 100%;
	margin: 0 auto;
	overflow: auto;
}

#content {
  max-height: 80%;
  padding-left:20px;
}

.input-box
{
	width: 100%;
}

.small-input {
  height:30px;
  font-size: 12px;
}

p {
  word-wrap: break-word;
}

.msg-input-panel .panel-footer{
  padding: 10px 21px;
}

/* reduce height of decode input to fit in panel */
input.message-code {
  height: 30px;
}

.apply-message-code{
  height: 30px;
  padding: 4px 12px;
}

.code-panel-heading {
  padding: 4px;
}

.code-author-label{
  padding: 6px 0 0 12px;
}

/* add margins to panel so that we can have a bootstrap grid inside */
.message-wrapper, .footer-content {
  margin-left: 15px;
  margin-right: 15px;
}

.send-message-form{
  margin:0 -6px 0 0;
}

.message-wrapper .panel-body{
  margin-bottom: -12px;
}

.navbar-nav{
  padding: 0 20px;
}

.navbar-default{
  background: none;
}

.tnav .navbar .container { height: 28px; }

img.nav-logo{
  height: auto;
  width: 108px;
}

.navbar-right, .main-nav-right {
  margin-right: 0 !important;
}

.hint-text {
  padding-top: 6px;
  margin: 0;
}