<h1>Sign in</h1>
<hr/>
{{ error }}
<form action="/login" method="POST">
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<input type="email" name="email" placeholder="E-mail..."  /> 
	<input type="password" name="password" placeholder="Password..."  /> 

	<input type="submit">
</form>

or <a href="/signup">signup here</a>.