@font-face {
	font-family: 'prudio';
	src: url('../font/prudio.eot?61597957');
	src: url('../font/prudio.eot?61597957#iefix') format('embedded-opentype'),
	url('../font/prudio.woff?61597957') format('woff'),
	url('../font/prudio.ttf?61597957') format('truetype'),
	url('../font/prudio.svg?61597957#prudio') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'prudio';
    src: url('../font/prudio.svg?61597957#prudio') format('svg');
  }
}
*/

/* RESET ALL STYLES */
/* Has seen on: http://stackoverflow.com/questions/15901030/reset-remove-css-styles-for-element-only */

.reset-styles {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size-adjust: none;
	font-size: 100%;
	font-style: normal;
	letter-spacing: normal;
	font-stretch: normal;
	font-variant: normal;
	font-weight: normal;
	font: normal normal 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: left;
	text-align-last: start;
	text-decoration: none;
	text-emphasis: none;
	text-height: auto;
	text-indent: 0;
	text-justify: auto;
	text-outline: none;
	text-shadow: none;
	text-transform: none;
	text-wrap: normal;
	alignment-adjust: auto;
	alignment-baseline: baseline;
	-webkit-animation: none 0 ease 0 1 normal;
	-moz-animation: none 0 ease 0 1 normal;
	-ms-animation: none 0 ease 0 1 normal;
	animation: none 0 ease 0 1 normal;
	-webkit-animation-play-state: running;
	-moz-play-state: running;
	-ms-animation-play-state: running;
	animation-play-state: running;
	appearance: normal;
	azimuth: center;
	backface-visibility: visible;
	background: none 0 0 auto repeat scroll padding-box transparent;
	background-color: transparent;
	background-image: none;
	baseline-shift: baseline;
	binding: none;
	bleed: 6pt;
	bookmark-label: content();
	bookmark-level: none;
	bookmark-state: open;
	bookmark-target: none;
	border: 0 none transparent;
	border-radius: 0;
	bottom: auto;
	box-align: stretch;
	box-decoration-break: slice;
	box-direction: normal;
	box-flex: 0;
	box-flex-group: 1;
	box-lines: single;
	box-ordinal-group: 1;
	box-orient: inline-axis;
	box-pack: start;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	break-after: auto;
	break-before: auto;
	break-inside: auto;
	caption-side: top;
	clear: none;
	clip: auto;
	color: inherit;
	color-profile: auto;
	-webkit-column-count: auto;
	-webkit-column-fill: balance;
	-webkit-column-gap: normal;
	-webkit-column-rule: medium medium #1f1f1f;
	-webkit-column-span: 1;
	-webkit-column-width: auto;
	-webkit-columns: auto auto;
	-moz-column-count: auto;
	-moz-column-fill: balance;
	-moz-column-gap: normal;
	-moz-column-rule: medium medium #1f1f1f;
	-moz-column-span: 1;
	-moz-column-width: auto;
	-moz-columns: auto auto;
	column-count: auto;
	column-fill: balance;
	column-gap: normal;
	column-rule: medium medium #1f1f1f;
	column-span: 1;
	column-width: auto;
	columns: auto auto;
	content: normal;
	counter-increment: none;
	counter-reset: none;
	crop: auto;
	cursor: auto;
	direction: ltr;
	display: inline;
	dominant-baseline: auto;
	drop-initial-after-adjust: text-after-edge;
	drop-initial-after-align: baseline;
	drop-initial-before-adjust: text-before-edge;
	drop-initial-before-align: caps-height;
	drop-initial-size: auto;
	drop-initial-value: initial;
	elevation: level;
	empty-cells: show;
	fit: fill;
	fit-position: 0% 0%;
	float: none;
	float-offset: 0 0;
	grid-columns: none;
	grid-rows: none;
	hanging-punctuation: none;
	height: auto;
	hyphenate-after: auto;
	hyphenate-before: auto;
	hyphenate-character: auto;
	hyphenate-lines: no-limit;
	hyphenate-resource: none;
	hyphens: manual;
	icon: auto;
	image-orientation: auto;
	image-rendering: auto;
	image-resolution: normal;
	inline-box-align: last;
	left: auto;
	line-height: inherit;
	line-stacking: inline-line-height exclude-ruby consider-shifts;
	list-style: disc outside none;
	margin: 0;
	marks: none;
	marquee-direction: forward;
	marquee-loop: 1;
	marquee-play-count: 1;
	marquee-speed: normal;
	marquee-style: scroll;
	max-height: none;
	max-width: none;
	min-height: 0;
	min-width: 0;
	move-to: normal;
	nav-down: auto;
	nav-index: auto;
	nav-left: auto;
	nav-right: auto;
	nav-up: auto;
	opacity: 1;
	orphans: 2;
	outline: invert none medium;
	outline-offset: 0;
	overflow: visible;
	overflow-style: auto;
	padding: 0;
	page: auto;
	page-break-after: auto;
	page-break-before: auto;
	page-break-inside: auto;
	page-policy: start;
	perspective: none;
	perspective-origin: 50% 50%;
	position: static;
	presentation-level: 0;
	punctuation-trim: none;
	quotes: none;
	rendering-intent: auto;
	resize: none;
	right: auto;
	rotation: 0;
	rotation-point: 50% 50%;
	ruby-align: auto;
	ruby-overhang: none;
	ruby-position: before;
	ruby-span: none;
	size: auto;
	string-set: none;
	table-layout: auto;
	top: auto;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50% 0;
	transform-style: flat;
	-webkit-transition: all 0 ease 0;
	-moz-transition: all 0 ease 0;
	-o-transition: all 0 ease 0;
	transition: all 0 ease 0;
	unicode-bidi: normal;
	vertical-align: baseline;
	white-space: normal;
	white-space-collapse: collapse;
	widows: 2;
	width: auto;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	z-index: auto;
	text-align: start;
	/* And disable MS gradients */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "prudio";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-cancel:before { content: '\e800'; } /* '' */
.icon-volume-off:before { content: '\e801'; } /* '' */
.icon-volume-high:before { content: '\e802'; } /* '' */
.icon-cancel-outline:before { content: '\e803'; } /* '' */
.icon-flash-outline:before { content: '\e804'; } /* '' */
.icon-chat:before { content: '\e805'; } /* '' */
.icon-comment:before { content: '\e806'; } /* '' */
.icon-forward-outline:before { content: '\e808'; } /* '' */
.icon-prudio:before { content: '\e809'; } /* '' */
.icon-attach:before { content: '\e80a'; } /* '' */
.icon-attach-outline:before { content: '\e80b'; } /* '' */
.icon-upload:before { content: '\e80c'; } /* '' */

#prudio-button {
    background: rgba(0, 114, 176, 0.9);
    border-radius: 50%;
    border-width: 2px;
	border-style: solid;
	border-color: rgba(0, 114, 176, 1);
    width: 38px;
    height: 38px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    box-shadow: 0 0 6px #666;
    z-index: 9999;
}

#prudio-button i {
	color: white;
	display: block;
	font-size: 21.6px;
	margin: 9px 0;
}

/* General styles for all menus */
.prudio-window {
	zoom: ;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	background: #f9f9fa;
	border-left: 1px solid #DADEE2;
	position: fixed;
    z-index: 999;
    opacity: 0.99;
    line-height: 1em;
}

.prudio-window h3 {
	color: #455A64;
	font-size: 1rem;
	padding: 20px;
	margin: 0;
	font-weight: bold;
	text-align: center;
	background: #fff;
	border-bottom: 1px solid #DADEE2;
}

.prudio-window h3 .close {
	color: #eee;
	font-size: 1rem;
	font-weight: lighter;
	float: right;
	cursor: pointer;
}

.prudio-window h3 .mute {
	color: #eee;
	font-size: 1em;
	font-weight: lighter;
	float: left;
	cursor: pointer;
}

.prudio-window h3 .mute:hover, .prudio-window h3 .close:hover {
	color: #455A64;
}

.prudio-window .messages {
    height: 100%;
    overflow-y: scroll;
}

.prudio-window .emoji {
	max-width: 20px;
	max-height: 20px;
	vertical-align: middle;
}

.prudio-window .hidden {
	display: none;
}

.prudio-window .drop-zone .drop-overlay {
	position: absolute;
	background: rgba(216,216,217,.50);
	width: 100%;
	height: 100%;
	z-index: 10;
}

.prudio-window .drop-zone .drop-overlay:before {
	position: absolute;
	font-family: prudio;
	color: #455A64;
	font-size: 5em;
	top: 40%;
	left: 40%;
	content: "\e80c";
}

.prudio-window ul {
	height: auto;
	overflow: auto;
	list-style-type: none;
	padding: 0 0 160px 0;
	margin: 0;
}

.prudio-window li {
	position: relative;
	border: 1px solid #afdefa;
	border-radius: 4px;
	padding: 10px 15px;
	margin: 10px;
	color: #fff;
	font-size: 0.9rem;
    opacity: 0.9;
    clear: both;
}

.prudio-window .server {
	padding: 4px 15px;
	text-align: center;
	border: none;
	color: #CCC;
	font-size: 0.65rem;
	font-weight: normal;
	font-style: italic;
}

.prudio-window .typing {
	padding: 4px 15px;
	text-align: center;
	border: none;
	color: #CCC;
	font-size: 0.65rem;
	font-weight: normal;
	font-style: italic;
}

.prudio-window .error {
	padding: 4px 15px;
	text-align: center;
	border: none;
	color: #AE3C2E;
	font-size: 0.65rem;
	font-weight: normal;
	font-style: italic;
}

.prudio-window .announcement {
	border: 1px solid rgba(56, 44, 44, 0.07);
	background: rgba(110, 110, 110, 0.05);
	padding: 12px 13px;
	margin: 0 20px;
	color: #BBB;
}

.prudio-window .time {
	margin: 0;
	padding: 4px 15px;
	text-align: right;
	border: none;
	color: #DDD;
	font-size: 0.6rem;
	font-weight: normal;
}

.prudio-window .other {
	margin-right: 35px;
	margin-left: 10px;
	border: 1px solid #DADEE2;
	background: #FFFFFF;
	color: #60686E;
	box-shadow: 1px 1px 1px 1px rgba(10, 10, 10, 0.02);
}

.prudio-window .other:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 5px 5px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -5px;
	left: -5px;
	top: 50%;
}

.prudio-window .other:before
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 5px 5px 0;
	border-color: transparent #DADEE2;
	display: block;
	width: 0;
	z-index: 0;
	margin-top: -5px;
	left: -6px;
	top: 50%;
}

.prudio-window .self {
	margin-right: 10px;
	margin-left: 35px;
	background-color: #0072B0;
	border-color: #0072B0;
	color: #fff;
	box-shadow: 1px 1px 1px 1px rgba(10, 10, 10, 0.05);
}

.prudio-window .self:after
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-color: transparent #0072B0;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -5px;
	right: -5px;
	top: 50%;
}

.prudio-window .self:before
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-color: transparent #DADEE2;
	display: block;
	width: 0;
	z-index: 0;
	margin-top: -5px;
	right: -6px;
	top: 50%;
}


.prudio-window .self:hover, .prudio-window .other:hover {
	box-shadow: 0 0 15px 5px rgba(10, 10, 10, .05);
}

.prudio-window .self:active, .prudio-window .other:active {
	box-shadow: 0 0 15px 5px rgba(10, 10, 10, .15);
}

.prudio-window .file-container {
	position: absolute;
	height: 80px;
	bottom: 0;
	background: rgba(249,249,250,0.95);
	background: -moz-linear-gradient(top,  rgba(249,249,250,0) 0%, rgba(249,249,250,0.95) 20%, rgba(249,249,250,0.95) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,250,0)), color-stop(20%,rgba(249,249,250,0.95)), color-stop(100%,rgba(249,249,250,0.95)));
	background: -webkit-linear-gradient(top,  rgba(249,249,250,0) 0%,rgba(249,249,250,0.95) 20%,rgba(249,249,250,0.95) 100%);
	background: -o-linear-gradient(top,  rgba(249,249,250,0) 0%,rgba(249,249,250,0.95) 20%,rgba(249,249,250,0.95) 100%);
	background: -ms-linear-gradient(top,  rgba(249,249,250,0) 0%,rgba(249,249,250,0.95) 20%,rgba(249,249,250,0.95) 100%);
	background: linear-gradient(to bottom,  rgba(249,249,250,0) 0%,rgba(249,249,250,0.95) 20%,rgba(249,249,250,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9fa', endColorstr='#f2f9f9fa',GradientType=0 );
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.prudio-window .file-container, .prudio-window .open {
	height: 130px;
}

.prudio-window .file {
	box-sizing: border-box;
	border: 1px solid #DADEE2;
	border-radius: 4px;
	margin: 15px;
	padding: 6px 10px;
	background: #FFFFFF;
	width: 315px;
	clear: both;
}

.prudio-window .file input {
	box-sizing: border-box;
	background-color: transparent;
    border: 0 solid;
    color: #60686E;
    width: 86%;
    font-size: 0.9rem;
    font-weight: normal;
}

.prudio-window .file .icon-plus {
	cursor: pointer;
}

.prudio-window .file .icon-upload {
	cursor: pointer;
}

.prudio-window .reply-container {
	position: absolute;
	height: 80px;
	bottom: 0;
	background: rgba(249,249,250,0.95);
	background: -moz-linear-gradient(top,  rgba(249,249,250,0) 0%, rgba(249,249,250,0.95) 20%, rgba(249,249,250,0.95) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,249,250,0)), color-stop(20%,rgba(249,249,250,0.95)), color-stop(100%,rgba(249,249,250,0.95)));
	background: -webkit-linear-gradient(top,  rgba(249,249,250,0) 0%,rgba(249,249,250,0.95) 20%,rgba(249,249,250,0.95) 100%);
	background: -o-linear-gradient(top,  rgba(249,249,250,0) 0%,rgba(249,249,250,0.95) 20%,rgba(249,249,250,0.95) 100%);
	background: -ms-linear-gradient(top,  rgba(249,249,250,0) 0%,rgba(249,249,250,0.95) 20%,rgba(249,249,250,0.95) 100%);
	background: linear-gradient(to bottom,  rgba(249,249,250,0) 0%,rgba(249,249,250,0.95) 20%,rgba(249,249,250,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9fa', endColorstr='#f2f9f9fa',GradientType=0 );
}

.prudio-window .reply {
	box-sizing: border-box;
	border: 1px solid #DADEE2;
	border-radius: 4px;
	margin: 15px;
	padding: 6px 10px;
	background: #FFFFFF;
	width: 340px;
	clear: both;
}

.prudio-window .reply input {
	background-color: transparent;
    box-sizing: border-box;
    border: 0;
    color: #60686E;
    width: 90%;
    font-size: 0.9rem;
    font-weight: normal;
}

.prudio-window .reply input:focus {
    outline: 0;
}

.prudio-window .reply .icon-attach {
	cursor: pointer;
	color: #CCCCCC;
}

.prudio-window .reply .icon-attach:hover {
	color: #333;
}

/* Orientation-dependent styles for the content of the menu */

.prudio-window-vertical {
	width: 370px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.prudio-window-vertical a {
	border-bottom: 1px solid #258ecd;
	padding: 1rem;
}

/* Vertical menu that slides from the left or right */


.prudio-window-right {
	right: -370px;
}

.prudio-window-open {
	right: 0;
}

/* Push classes applied to the body */

.prudio-window-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.prudio-window-push-toleft {
	left: -730px;
}

/* Transitions */

.prudio-window,
.prudio-window-push {
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.prudio-window-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.prudio-window-top {
		top: -110px;
	}

	.prudio-window-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.prudio-window-vertical {
		font-size: 90%;
		width: 190px;
	}

	.prudio-window-left,
	.prudio-window-push-toleft {
		left: -190px;
	}

	.prudio-window-right {
		right: 0;
	}

	.prudio-window-push-toright {
		left: 190px;
	}
}
