<div class="panel panel-default message-wrapper" >
  <div class="panel-heading">
    <strong>
      <%= sender %>
    </strong>
  </div>
  <div class="panel-body">
    <p class="message">
      <%= message %>
    </p>
  </div>
</div>
